<template>
  <div class="home">
    <section class="">
        <div class="content">
            <at-card style="width: 60%; margin:10px auto;">
                <h5>RECIPIENT</h5>
                <h2>{{recipient.first_name}}</h2>
                <small>
                    <i class="icon icon-Building"></i> {{recipient.organization_name }}
                </small>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <i class="icon icon-Flag-4"></i> Country
                                </td>
                                <td>
                                    {{recipient.country || '--' }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="icon icon-Couple-Sign"></i> Status
                                </td>
                                <td>
                                    {{recipient.marital_status || '--'}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="icon icon-Baby"></i> Children
                                </td>
                                <td>
                                  {{recipient.children_count || 0}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="icon icon-Suitcase"></i> Work
                                </td>
                                <td>
                                    {{recipient.occupation || '--' }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="icon icon-Profile"></i>  Bio
                                </td>
                                <td>
                                    {{recipient.bio || '--' }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <at-button class="spare-donate-btn" type="primary" v-on:click="modalToggle()">
                        Donate Now
                    </at-button>
                </div>
            </at-card>
        </div>
    </section>

    <at-modal v-model="modalVisible" title="Make A Cash Transfer With Spare">
        <form @submit.prevent="callStripe" novalidate>
            <div class="spare-form-group">
                <small>
                    Your donation is powered by Spare, a charitable payments platform that lets you send cash directly to families in need through charitable partners. Learn more at <a href="https://spare.gives" target="_blank">spare.gives</a>
                </small>
            </div>
            <div class="spare-form-group">
                <label>
                    Email
                    <at-tooltip content="We will send you a receipt to your email">
                        <span> (?) </span>
                    </at-tooltip>
                </label>
                <at-input v-model="model.email" v-bind:class="{ error: formErrors.emailError }"
                    placeholder="Email" ref="input" />
                <span class="spare-error" v-show="formErrors.emailError"> {{formErrors.emailError}} </span>
            </div>
            <div class="spare-form-group">
                <label>Donation Amount *</label>
                <at-input v-model="model.request_amount" v-bind:class="{ error: formErrors.amountError }"
                    placeholder="Amount" ref="input" />
                <span class="spare-error" v-show="formErrors.amountError"> {{formErrors.amountError}} </span>
            </div>
            <div class="spare-form-group">
                <label>Card Number *</label>
                <div class="at-input__original" v-bind:class="{ error: formErrors.cardError }"
                    id="card-element"></div>
                <span class="spare-error" v-show="formErrors.cardError"> {{formErrors.cardError}} </span>
            </div>
            <div class="spare-form-group">
                <label for="">Message to Recipient</label>
                <at-textarea v-model="model.message" placeholder="Message to recipient (optional)" />
            </div>
            <div class="spare-form-group" v-if="formErrors.serverError">
                <at-alert message="Error" :description="formErrors.serverError" type="error">
                </at-alert>
            </div>
            <div class="spare-form-group">
                <at-button class="dono-btn" native-type="submit" :disabled='loading'>
                    <span v-if="!loading">Donate $ {{model.request_amount}} </span>
                    <span v-if="loading"><span class="loading"></span> &nbsp;Sending...</span>
                </at-button>
            </div>
        </form>
        <div v-if='loadError'>
            <at-alert message="Error" :description="loadError" type="error">
            </at-alert>
        </div>
        <div slot="footer">
            <div style="text-align:center">
                <p>
                    Powered by <a href="https://spare.gives" target="_blank">spare.gives</a>
                </p>
            </div>
        </div>
    </at-modal>
  </div>
</template>

<script>
// Imports
import { Donation } from './models'
import axios from 'axios'

export default {
    data () {
        return {
            config: {
              headers: {
                'Content-Type': 'application/json'
              }
            },
            // ------- App variables -----------
            // UPDATE THESE AS NECESSARY
            serverUrl: 'http://localhost:8011/v1', // Don't add a trailing /
            stripeKey: 'pk_test_LcwpVFSnyikmnQHT6inDyRtf',
            clientId: 'N7jyCm4fP5qBLC3Yf2CQ7cCwsGnTQUQpTJPGY0xd',
            clientSecret: '7rFDKO2zumeTXmlajkvy0pB185abMjbWvJHk5wZ7evLGHPXzXZwjsyAhDDtlCw4hokxXnBOWOrX97Aq2Uqjrih1pEkWvZ8VMwzHbu32jyDxIEPnenNawuwU86V91eYeh',
            // -- end of app variables

            storage: window.localStorage,
            modalVisible: false,
            // models
            model: new Donation(),
            keys: {
                'TOKEN_KEY': 'auth.token',
                'CRED_KEY': '__spare_btn_credz__'
            },
            // errors
            stripeError: '',
            loadError: false,
            isLoggedIn: false,
            recipient: {},
            serverSuccess: '',
            formErrors: {},
            // loaders
            loading: false,
            setState: {
                stripe: null
            }
        }
    },

    mounted () {
        this.loadStripe()
        this.loadClientCreds()
        this.fetchApiToken()
    },

    methods: {
        //---------HELPER FUNCTIONS--------------
        // -- setItem: store item in localstorage
        // -- getItem: retrieve item from localstorage
        // -- modalToggle: show or hide modal
        // -- formValid: validate donation form

        setItem(key, item) {
            this.storage.setItem(key, JSON.stringify(item))
        },
 
        getItem(key) {
            return JSON.parse(this.storage.getItem(key)) || null
        },

        modalToggle () {
            this.modalVisible = !this.modalVisible
        },

        formValid () {
            this.formErrors = {}

            if (this.model.email) {
                const mail = /\S+@\S+\.\S+/
                if (!mail.test(this.model.email)) {
                    this.formErrors.emailError = 'Email looks invalid'
                }
            }
            if (this.model.request_amount < 5) {
                this.formErrors.amountError = 'Donation minimum is $5'
            }
            if (this.model.request_amount > 700) {
                this.formErrors.amountError = 'Donation maximum is $700'
            }
            return Object.keys(this.formErrors).length === 0
        },


        //---------STRIPE SETUP FUNCTIONS--------------
        // -- loadStripe: asynchronously load stripeV3 library
        // -- bootstrap: set up stripe form elements

        loadStripe () {
            const stripeJs = document.createElement('script')
            stripeJs.src = 'https://js.stripe.com/v3/'
            stripeJs.async = true
            stripeJs.onload = () => {
                this.bootStrap()
            }
            document.body && document.body.appendChild(stripeJs)
        },

        bootStrap () {
            if (window.Stripe) {
                this.loadError = false
                const key = this.stripeKey
                const _stripe = window.Stripe(key)
                const elements = _stripe.elements()

                // Create stripe elements
                this.stripe = _stripe
                this.card = elements.create('card')

                // Mount card elements
                this.card.mount('#card-element')
            } else {
                this.loadError = 'Sorry, Stripe failed to load: please try refreshing the page'
            }
        },

        //---------SPARE API FUNCTIONS--------------
        // -- loadClientCreds: convinience to load API credz to localstorage
        // -- fetchApiToken: get API token for authenticating on the API
        // -- getNext: fetch next queued recipient
        // -- callStripe: calls stripe to generate a token for the provided card then calls spareCheckout
        // -- spareCheckout: calls the Spare API to send the donation to the recipient

        loadClientCreds (data) {
            const credz = {
                clientId: this.clientId,
                clientSecret: this.clientSecret
            }
            this.setItem(this.keys['CRED_KEY'], credz)
        },

        fetchApiToken () {
            const credentials = this.getItem(this.keys['CRED_KEY'])
            const api_token = this.getItem(this.keys['TOKEN_KEY'])

            // Don't request new token if one exists
            // This method should be improved to handle expired token when in prod mode!!
            if (credentials && !api_token) {
                const auth = {
                    'grant_type': 'client_credentials',
                    'client_id': credentials.clientId,
                    'client_secret': credentials.clientSecret
                }
                axios.post(`${this.serverUrl}/auth/token/`,auth, this.config)
                    .then((data) => {
                        this.setItem(this.keys['TOKEN_KEY'], data.data)
                        this.getNext()
                    })
                    .catch((e) => {
                        console.log('Failed to fetch Api token')
                    })
            }
            else if (api_token) {
                this.getNext()
            }
        },

        getNext () {
          const auth = this.getItem(this.keys['TOKEN_KEY'])
          var config = {
              headers: { 'Authorization': 'Bearer ' + auth.access_token }
          }
          axios.get(`${this.serverUrl}/recipients/next-queued/`, config)
              .then((data) => {
                this.recipient = data.data[0]
              })
              .catch((e) => {
                console.log('Error getting next recipient')
              })          
        },

        callStripe () {
            if (this.formValid()) {
                this.loading = true
                this.stripe.createToken(this.card)
                    .then((result) => {
                        if (result.error) {
                            this.formErrors.cardError = result.error.message
                            this.loading = false
                        } else {
                            const stripeToken = result.token.id
                            this.spareCheckout(stripeToken)
                        }
                    })
            }
        },

        spareCheckout (stripeToken) {
            // if stripe token exists
            if (stripeToken) {
                const auth = this.getItem(this.keys['TOKEN_KEY'])
                var config = {
                    headers: { 'Authorization': 'Bearer ' + auth.access_token }
                }

                this.model.stripeToken = stripeToken
                this.model.payment_type = 'stripe'
                this.model.recipient_id = this.recipient.id

                axios.post(`${this.serverUrl}/donations/spare-checkout/`, this.model, config)
                    .then(() => {
                        this.serverSuccess = 'Donation Recieved! Thank you'
                        this.modalVisible = false
                        this.resetForm()
                    })
                    .catch((e) => {
                        this.loading = false
                        this.formErrors.serverError = 'Server Error: Please try again later'
                    })
            } else {
                console.log('Could not get stripe token')
            }
        },

        resetForm () {
            this.card.clear()
            this.model = new Donation()
            this.getNext()
        }
    }
}
</script>
