<template>
  <div>
    <nav class="navbar fixed-top">
      <div class="container-fluid">
        <div class="navbar-wrapper">
          <h1>MrDonor</h1>
        </div>
        <div class="float-right app-links">
          <router-link to="/" exact>Next Recipient</router-link>
        </div>
      </div>
    </nav>

    <div class="wrapper">
        <router-view></router-view>
    </div> 
  </div>
</template>
