// Colors
$lime-light: #ecf9a8;
$lime: #c2d654;
$theme-color: #c2d654;
$spare-blue: #005a6f;


.learn-more-btn {
    color: #fff;
    background: #c2d654;
    border-radius: 30px;
    padding: 10px 20px;
    &:hover {
    	color: #fff;
    }
}