.navbar {
  height: 85px;
  background: linear-gradient(0deg, rgba(16, 16, 16, 0.7), rgba(0, 0, 0, 0.7));

  .navbar-brand {
    margin-left: 0;
  }
  .app-links {
    a {
      margin: 0 10px;
      color: #fff;
      padding-bottom: 5px;
      &.router-link-active {
        border-bottom: 3px solid $lime;
      }
    }
    .btn-dono {
      background: #005a6f;
      display: inline-block;
      border-radius: 30px;
      padding: 5px 25px;
    }
  }
}


.home {
  section {
    padding: 8em 0;
  }
  .register-page {
    height: auto;
    min-height: 650px;
    background-repeat: no-repeat;
    background-size: cover;

    .content {
      padding-bottom: 4em;
      padding-top: 2.5em;
    }
  }
}